div{
border: 1px solid black;
width: 200px;
height: 200px;
margin: 5px;
background-color: brown;
}
section{
    display: grid;
    grid-template-columns:  auto 250px 450px;
    grid-template-rows: 3fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: blanchedalmond;
    
}
